.activity-add {
  margin-bottom: 180px;
}

.activity-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px;
  overflow: scroll;

  &__card {
    flex: 0 0 184px;

    display: flex;
    align-items: center;

    margin-top: 32px;

    border-radius: 12px;

    background: #1cbbb4;
    color: #fff;
    font-size: 32px;

    &.add {
      justify-content: center;
    }
  }

  .activity-card__img {
    width: 184px;
    height: 184px;
    border-radius: 12px;
    background: gray;
  }
  .activity-card__text {
    flex: 1;
    padding: 32px;
    padding-left: 64px;
  }
}


.activity-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__content {
    flex: 1;
    padding: 32px;
  }
  &__btn {
    margin-bottom: 32px;
  }
}

.activity-detail-cover {
  height: 340px;
  background: #d3d3d3;
  &__item {
    height: 340px;
    background: #d3d3d3;
  }

  image {
    width: 100%;
    height: 100%;
    background: grey;
  }
}

.activity-images {
  &__item {
    margin: 32px;
    margin-bottom: 64px;
    padding-bottom: 16px;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;

    image {
      width: 100%;
      height: 360px;
    }

    text {
      display: block;
      box-sizing: border-box;
      padding: 32px;
    }
  }
}

.activity-location {
  height: 100vh;
  background: #fff;
  overflow: hidden;

  &__map {
    width: 100%;
    height: 800px;
  }

  &__list {
    height: calc(100vh - 800px);
    padding-bottom: 80px;
    background: #fff;
    overflow: scroll;
  }

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    border-bottom: 2px solid #eee;

    > .location {
      flex: 0 0 50%;
      font-size: 32px;
    }

    > .time {
      flex: 0 0 50%;
      text-align: right;
    }

    > .duration {
      margin-top: 8px;
      flex: 0 0 100%;
    }
  }

}

.activity-overview {
  .cu_card__title-line {
    border-bottom: 1px solid #eee;
  }
  &__card {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &__image {
    margin-bottom:16px;
    > .image {
      width: 100%;
      height: 300px;
    }

    > .content {
      padding: 16px 32px;
    }

    > .time {
      padding: 16px 32px;
      text-align: right;
    }
  }
  &__map {
    width: 100%;
    height: 420px;
    margin-bottom: 16px;
  }
  &__location {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    > .location {
      flex: 0 0 100%;
      margin-bottom: 16px;
    }
    > .time, > .duration {
      flex: 0 0 50%;
    }
    > .duration {
      text-align: right;
    }
    > .time {
      text-align: left;
    }
  }
}
