.memories-list {
  height: 100%;
  background: #fff;
  border-bottom: 2px solid #eee;

  &__map {
    width: 100%;
    height: 400px;
  }

  &__canvas {
    position: fixed;
    z-index: -1;
    left: -100%;
    bottom: -100%;
  }
  &__btn {
    margin: 16px;
    button {
      margin: 16px;
      height: 100rpx;
      background: #1cbbb4;
    }
  }
}

.app-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  justify-content: space-between;
  padding: 16px;

  &.horizon {
    flex-direction: row;
    align-items: center;
    margin: 0 16px;
    border-bottom: 1px solid #eee;

    .app-list-item__label {
      margin-bottom: 0;
      font-size: inherit;
    }

    .app-list-item__content {
      text-align: right;
      color: #8799a3;
    }
  }

  &__label {
    text-align: justify;
    padding-right: 30px;
    font-size: 30px;
    position: relative;
    min-height: 60px;
    line-height: 60px;
    margin-bottom: 8px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .cu-form-group {
      background: rgba(0, 0, 0, 0.05);
    }

    .cu-textarea .bg {
      border: none;
      padding: 16px;
      border-radius: 0;
    }
  }

  &__content.no-bg {
    .cu-form-group {
      background: inherit;
    }
  }

  &__content.no-padding {
    .cu-form-group {
      padding: 0;
    }
  }
}

