.app-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px;
}

.app-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  justify-content: space-between;
  padding: 16px;

  &.horizon {
    flex-direction: row;
    align-items: center;
    margin: 0 16px;
    border-bottom: 1px solid #eee;

    .app-list-item__label {
      margin-bottom: 0;
      font-size: inherit;
    }

    .app-list-item__content {
      text-align: right;
      color: #8799a3;
    }
  }

  &__label {
    text-align: justify;
    padding-right: 30px;
    font-size: 30px;
    position: relative;
    min-height: 60px;
    line-height: 60px;
    margin-bottom: 8px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .cu-form-group {
      background: rgba(0, 0, 0, 0.05);
    }

    .cu-textarea .bg {
      border: none;
      padding: 16px;
      border-radius: 0;
    }
  }

  &__content.no-bg {
    .cu-form-group {
      background: inherit;
    }
  }

  &__content.no-padding {
    .cu-form-group {
      padding: 0;
    }
  }
}

.app-bottom-btn {
  button {
    width: 100%;
    height: 100rpx;
    position: fixed;
    bottom: 0;
    border-radius: 0;
    background: #1cbbb4;
  }
}

.app-btn-group {
  margin-top: 32px;
  padding: 32px;

  view {
      margin-bottom: 16px;
  }
}

.app-margin-top {
  margin-top: 32px;
}

.app-empty {
  width: 100%;
  margin-top: 40%;
  text-align: center;
}
